script(type='text/javascript')
  
  var startPos;
  
  $(function() {
    if (navigator.geolocation) {
      console.log('Geolocation is supported!');
      navigator.geolocation.getCurrentPosition(function(position) {
        startPos = position;
        $("#location_latitude").append(startPos.coords.latitude);
        $("#location_longitude").append(startPos.coords.longitude);
        console.log(startPos.coords.latitude);
        console.log(startPos.coords.longitude);
        $.post('/', {lon: startPos.coords.longitude, lat: startPos.coords.latitude}, function(data) {
          $('body').html(data);
        });
      });
    }
  });
    
