script(type='text/javascript', src='/javascripts/jquery.isotope.min.js')
script(type='text/javascript', src='/javascripts/jquery.imagesloaded.min.js')
script(type='text/javascript')
  $(function(){
    var $container = $('#newsfeed');
    
    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector : '.post'
      });
    });
  });
