script(type='text/javascript', src='/javascripts/jquery.infinitescroll.min.js')
script(type='text/javascript', src='/javascripts/jquery.isotope.min.js')
script(type='text/javascript', src='/javascripts/jquery.imagesloaded.min.js')
script(type='text/javascript')
  $(function(){

    var $container = $('#newsfeed');
    
    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector : '.post'
      });
    });
      
    $container.infinitescroll({
      navSelector  : '#page_nav',    // selector for the paged navigation 
      nextSelector : '#page_nav a',  // selector for the NEXT link (to page 2)
      itemSelector : '.post',     // selector for all items you'll retrieve
      loading: {
          finishedMsg: 'No more pages to load.',
          img: 'http://i.imgur.com/qkKy8.gif'
        }
      },
      // call Isotope as a callback
      function( newElements ) {
        var $newElements = $( newElements );
        $newElements.imagesLoaded(function(){
          $container.isotope( 'appended', $( newElements ) );
        }); 
      }
    );  
  });
