div(class='container', id='footer')
  div(class='row')
    div(class='fourcol)
      p follow on twitter
    div(class='fourcol')
      p read our blog
    div(class='fourcol last')
      p contact us directly