extends layout

block append contents
  div(id='footer-wrapper')
    div(id='twitter-id')
      img(src='/images/1.jpg',class='button-dimension')
    div(id='blog-id')
      img(src='/images/2.jpg',class='button-dimension')
    div(id='contact-id')
      img(src='/images/3.jpg',class='button-dimension')
    
