div(class='container', id='footer')
  div(class='row')
    div(class='fourcol')
      //
      div(class='footer-button')
        p follow on twitter
    div(class='fourcol')
      div(class='footer-button')
        p read our blog
    div(class='fourcol last')
      div(class='footer-button')
        p contact us directly