extends layout

block append scripts
  include partials/twitter
  include partials/voteFunction
  include partials/detectBrowser
  
block contents
  include navigation
  include newsFeed
  include footer
