extends layout

block append scripts
  script(type='text/javascript')
    $(document).ready(function() {
        $('.vote').click(function() {
          var this_ = $(this);
          $.post('/',
           {_id : $(this).attr('id'), points: $(this).attr('points')},
           function(score) {
             $(this_).siblings('.points').text(score.score);
          });
        });
      });

block contents
  include navigation
  include newsFeed
  include footer