div(class='container', id='nav-top-line')

div(class='container', id='nav-bottom-line')
  div(class='row')
    div(class='twelvecol')
      // clicking the logo should render the front-page
      img(src='images/logos/breakit.png', id='nav-logo')
   
