div(class='container', id='nav-top-line')
  div(class='row')
    div(class='fourcol')
    div(class='fourcol')
    div(class='fourcol last')
div(class='container', id='nav-bottom-line')
  div(class='row')
    div(class='fourcol')
      // clicking the logo should render the front-page
      img(src='images/logos/breakit.png', id='nav-logo')
    div(class='fourcol')
      div(class='navbutton')
        p local feed
      div(class='navbutton')
        p breaking news
      div(class='navbutton')
        p my feed
    div(class='fourcol last')
      p register and search