!!! 5
html
	head
		title Breakit beta-signup
		link(rel='stylesheet', href='/stylesheets/signup.css')
		link(rel='icon', type='image/ico', href='/images/logos/breakit.ico')
	body
		div#container
			div#signup_box
				div#breakit_logo
					img(src='/images/logos/logo_notext.png')
			div#signup_tab
				div#confirm_tab
					p 
						strong Thank you for signing up as a beta tester.  
						– You will soon recieve a confirm email. We will contact you, when our private beta is ready to be downloaded and tested. 
