/*****
 * Model for pictures
 * BreakIt 0.0.2
 * TODO check out why the pictures come three side by side, not four.
 *
 * @type {*}
 */

body
  background: #ebebeb
  
a
  color: #00B7FF

.stream
  max-width: 265px
  margin-left: auto
  margin-right: auto

#nav-top-line
  height: 18px
  background: -webkit-linear-gradient(top, #8f1b1b, #d03636)
  background: -moz-linear-gradient(top, #8f1b1b, #d03636)

#nav-bottom-line
  min-height: 58px
  background: -webkit-linear-gradient(top, #fff, #ededed)
  background: -moz-linear-gradient(top, #fff, #ededed)
  box-shadow: 0 6px 0 #d1d1d1
  -moz-box-shadow: 0 6px 0 #d1d1d1
  -webkit-box-shadow: 0 6px 0 #d1d1d1

#nav-logo
  margin-left: 0px
  max-height: 58px
  float: left

.navbutton
    margin-right: 14px
    margin-top: 15px
    float: right
  

.navbutton-login
  margin-top: 15px
  margin-right: 14px
  float: right
  border: 1px solid red

.navbutton-register
  margin-top: 15px
  margin-right: 8px
  float: right
  border: 1px solid red
  
.navbutton-search
  margin-top: 15px
  margin-right: 24px
  float: right
  border: 1px solid red

.post
  width: 273px
  position: relative
  background: #fff
  border: 1px solid #c8c8c8
  margin: 16px
  float: left
  display: inline

#footer
 clear: both
 height: 58px
 background: -webkit-linear-gradient(top, #696868, #2E2E2E)
 background: -moz-linear-gradient(top, #696868, #2E2E2E)

.footer-button
  height: 58px
  border: 1px solid red

.voteButton
 max-width: 20px
 float: left
 padding: 0 10px 0 0

#newsfeed
  margin-left: 7%